/* Donneshia Hendricks -- Intro to Programming -- CSC102*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    /* This is the styling for all of the elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

body {
    /* This is the styling for the body element */
    background-color: yellow;
    padding: 0 50px;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

input,
/* This is the styling for the input element */
button {
    background-color: transparent;
    outline: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    /* border-inline add a border to the left and right of the element */
    /* border-block adds a border to the top and bottom of the element */
    border-inline: 1px solid rgba(255, 255, 255, .2);
    border-top: 1px solid rgba(255, 255, 255, .2);
    color: #d81515;
    font-size: 1.1rem;
    padding: .5rem 1rem;

}
button {
    /* This is the styling for the button element */
    cursor: pointer;
    transition: 200ms ease-in-out;
    background-color: 200ms ease-in-out color;
}
button:hover {
    background-color: #e28282;
    color: #d81515;
}
button:active {
    transform: scale(.9);
}

p {
    /* This is the styling for the paragraph element */
    color: #d81515;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
}
span {
    /* This is the styling for the span element */
    color: #1e56ee;
    font-weight: 700;
}
